# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
.venv*/
venv*/
venv312/

# Environment
.env

tests/
# Git
.git/
.gitignore

# Docker
docker-compose*
compose.y*ml
Dockerfile*

# IDE / Editor
.vscode/
.idea/
*.user
*.dbmdl
*.jfm

# Build artifacts
bin/
obj/
node_modules/
npm-debug.log

# Helm / Kubernetes
charts/
secrets.dev.yaml
values.dev.yaml

# Optional (only if you don’t want them in container)
# LICENSE
# README.md
